---
import Layout from "../layouts/Layout.astro";

//microCMS呼び出し
import { Blog, getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "eyecatch"] });
---

<Layout title="Home | My Blog">
  <main>
    <h1>Pages</h1>
    <ul>
      {
        response.contents.map((content: Blog) => (
          <li>
            <a href={content.id}>{content.title}</a>
            <img src={content.eyecatch.url} width="100%" />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
